{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
    <!-- <link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"> -->
{% endblock %}

{% block app_content %}
    <a href="{{ url_for('main.edit_project', project_id = project_id) }}">
        <h1>
            <b>{{ project_name }}</b>
        </h1>
    </a>
    <a href="{{ url_for('main.edit_tasklist', project_id = project_id, tasklist_id = tasklist_id) }}">
        <h2>
            <b>{{ tasklist_name }}</b>
        </h2>
    </a>
    <a href="{{ url_for('main.edit_task', project_id = project_id, tasklist_id = tasklist_id, task_id = task_id) }}">
        <h3>
            <b>{{ task_name }}</b>
        </h3>
    </a>
    <h4>New : Task Log</h4>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form, id = "new_tasklog_form") }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        let form = document.getElementById('new_tasklog_form') ;
        form.onsubmit = function() {
            let tz = moment.tz.guess();
            //let tz = "Africa/Accra";

            let input = document.getElementById('minutesTimezoneOffset') ;
            input.setAttribute('value', moment().tz(tz).utcOffset()) ;

            form.appendChild(input) ;
        } ;
    </script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#startDatePicker').datetimepicker();
            $('#endDatePicker').datetimepicker();

            /* TODO - JS Validation
            $('#startDatePicker').datetimepicker();
            $('#endDatePicker').datetimepicker({
                useCurrent: false
            });
            $("#startDatePicker").on("dp.change", function (e) {
                $('#endDatePicker').data("DateTimePicker").minDate(e.date);
            });
            $("#endDatePicker").on("dp.change", function (e) {
                $('#startDatePicker').data("DateTimePicker").maxDate(e.date);
            }); */
        });
    </script> -->
{% endblock %}