{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% for project in projects %}
        <hr>
        <h3>
            <p>
                <a href="{{ url_for('project', project_id = project.id) }}">
                    <b>{{ project.name }}</b>
                </a> : {{ project.description }}
            </p>
        </h3>
    {% endfor %}
    <hr>
    <p>
        <a href="{{ url_for('new_project') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New Project
        </a>
    </p>
{% endblock %}